@import '../../../assets/scss/common.scss';


.perfect-car {
   @extend %sections-between;

   &__title {
      @extend %h2-title;
      max-width: 400px;

      @media (max-width:$tablet){
         max-width: 100%;
      }
   }

   &__body {
      margin-top: 40px;
      margin-bottom: 14px;
      @extend %flex-space-bw;

      @media (max-width:$tablet){
         margin-top: 64px;
         margin-bottom: 0;
      }

      @media (max-width:$mobile){
         flex-direction: column;
      }

      @media (max-width:$mobileSmall){
         margin-top: 36px;
      }
   }

   &__content {
      margin-left: 55px;
      max-width: 548px;
      width: 100%;
      height: 560px;
      position: relative;

      @media (max-width:$tablet){
         max-width: 246px;
         height: 629px;
      }

      @media (max-width:$mobile){
         margin: 36px 0px 0px 0px;
         max-width: 320px;
         width: 100%;
         height: 327px;
      }
   }

   &__image {
      @extend %flex-center;
      max-width: 255px;
      width: 100%;
      position: absolute;

      @media (max-width:$tablet){
         max-width: 166px;
      }

      @media (max-width:$mobile){
         max-width: 149px;
      }

      img {
         @extend %wh100;
      }

      &:first-child {
         top: 33px;
         left: 0;

         @media (max-width:$tablet){
            top: 0;
            left: auto;
            right: 40px;
            transform: rotate(14.967deg);
         }

         @media (max-width:$mobile){
            top: 20px;
            left: 0;
            right: auto;
            transform: none;
         }
      }

      &:last-child {
         top: 25px;
         left: 42%;
         transform: rotate(-15.015deg);

         @media (max-width:$tablet){
            top: auto;
            left: auto;
            bottom: 32px;
            right: 38px;
            transform: rotate(14.967deg);
         }

         @media (max-width:$mobile){
            top: 16px;
            bottom: auto;
            transform: rotate(-15.015deg);
         }
      }
   }

}