// Заголовки, загальні БЕМ блоки та інше...


// %h1-title {}

// %sub-title {}

// %button {}


%box-shadow {
   box-shadow: 0px 1px 0px 0px #D7D7D7;
}


// transition

%transition-all {
   transition: all .3s ease-in-out;
}

%transition-button-bg {
   transition: background-color .3s ease-in-out;
}

%transition-border-color {
   transition: border-color .3s ease-in-out;
}

%transition-fill {
   transition: fill .3s ease-in-out;
}


// Flex

%flex {
   display: flex;
}

%flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

%flex-space-bw {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

%flex-column {
   display: flex;
   flex-direction: column;
}


// Grid

%grid {
   display: grid;
}