@import './variables.scss';
// Заголовки, загальні БЕМ блоки та інше...


// Title

%h1-title {
   font-size: 60px;
   font-weight: 900;
   line-height: 1.085;
   letter-spacing: 1.2px;

   @media (max-width:$mobileSmall){
      font-size: 35px;
      letter-spacing: 0.7px;
   }
}

%h2-title {
   color: var(--text-content);
   font-size: 45px;
   line-height: 1.4;

   @media (max-width:$mobileSmall){
      font-size: 30px;
   }
}

%h3-title {
   font-size: 30px;
   line-height: 1.4;

   @media (max-width:$mobileSmall){
      font-size: 24px;
   }
}

%h4-title {
   color: var(--text-content);
   font-size: 25px;
   line-height: 1.4;
   letter-spacing: 0.5px;

   @media (max-width:$mobileSmall){
      font-size: 20px;
      letter-spacing: 0.4px;
   }
}

// %sub-title {}

%description {
   margin-top: 20px;
   font-weight: 400;
   line-height: 1.8;
   letter-spacing: 0.32px;

   @media (max-width:$mobileSmall){
      margin-top: 10px;
   }
}

%secondary-text {
   font-weight: 400;
   line-height: 1.8;
   letter-spacing: 0.32px;
}

// %button {}

%wh100 {
   width: 100%;
   height: 100%;
}


%box-shadow {
   box-shadow: 0px 1px 0px 0px #D7D7D7;
}


// img

%img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}


// Transition

%transition-all {
   transition: all .3s ease-in-out;
}

%transition-button-bg {
   transition: background-color .3s ease-in-out;
}

%transition-border-color {
   transition: border-color .3s ease-in-out;
}

%transition-fill {
   transition: fill .3s ease-in-out;
}


// Flex

%flex {
   display: flex;
}

%flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

%flex-space-bw {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

%flex-column {
   display: flex;
   flex-direction: column;
}


// Grid

%grid {
   display: grid;
}

%grid-2column {
   display: grid;
   grid-template-columns: 1fr 1fr;
}


// sections-between

%sections-between {
   padding-top: 110px;
   padding-bottom: 110px;

   @media (max-width:$tablet) {
      padding-top: 80px;
      padding-bottom: 80px;
   }

   @media (max-width:$mobileSmall) {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}

%sections-between-bottom {
   padding-bottom: 110px;

   @media (max-width:$tablet) {
      padding-bottom: 80px;
   }

   @media (max-width:$mobileSmall) {
      padding-bottom: 40px;
   }
}


%block-wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
   padding: 60px;
   border-radius: 5px;
   background: var(--white-color);
   box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);

   @media (max-width:$tablet){
      padding: 40px;
   }

   @media (max-width:$mobileSmall){
      padding: 20px;
   }
}