@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/common.scss';


//====================================================================================================
.footer {
   padding: 40px 0px 60px 0px;
   background-color: var(--accent-color);
   color: var(--text-white);

   @media (max-width:$mobileCustom){
      padding: 20px 0; 
   }

   &__body {
      @extend %grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media (max-width:$tablet){
         grid-template-columns: repeat(2, 1fr);
         column-gap: 20px;
         row-gap: 45px;
      }

      @media (max-width:$mobileCustom){
         grid-template-rows: repeat(3, 1fr);
         gap: 25px;
      }
   }

   &__main {
      @extend %flex-center;

      & .rules {
         margin-left: 14px;
         align-self: flex-end;
         margin-bottom: 4px;
      }
   }

   &__main,
   & .social-icon,
   &__copyright-title,
   &__copyright {
      align-self: center;
      justify-self: center;
      white-space: nowrap;

      @media (max-width:$mobileCustom){
         justify-self: flex-start;
      }
   }

   &__copyright-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 0.9;

      @media (max-width:$mobileCustom) {
         justify-self: flex-start;
      }
   }

   &__copyright {
      justify-self: flex-end;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
   }


   @media (max-width:$mobileCustom){
      &__main,
      &__copyright {
         grid-column: 2 span;
         justify-self: flex-start;
      }
   }
   
}
//====================================================================================================