@import '@common';


.all-cars {
   margin-top: 20px;
   margin-bottom: 40px;

   &__body {
      max-width: 860px;
      @extend %grid-2column;
      gap: 20px;

      @media (max-width:$mobileCustom) {
         grid-template-columns: 1fr;
         justify-items: center;
      }
   }

   & .pagination {
      margin-top: 65px;
   }
}