@import '../../assets/scss/variables.scss';
@import '../../assets/scss/common.scss';


.menu {
   margin-top: 38px;
   display: inline-block;
   @extend %wh100;

   &__content {
      @extend %wh100;
      @extend %flex-column;
      justify-content: space-between;

      & .social-icon {
         margin-top: 20px;
      }
   }

   &__list {

      li {
         &:not(:first-child) {
            margin-top: 20px;
         }

         a {
            color: var(--text-content);
            @include adaptiveValue("font-size", 25, 20);
            line-height: 1.4;
            letter-spacing: 0.5px;
            padding-bottom: 1px;
            border-bottom: 2px solid transparent;
            @extend %transition-border-color;
         }

         @media (any-hover: hover){
            &:hover a {
               border-color: var(--accent-color);
            }
         }

         &:active a {
            border-color: var(--accent-color);
         }
      }
   }
}