@import '@common';


.sidebar-spoller {
   padding: 10px 20px;
   border-radius: 2px;
   border: 1px solid var(--border-color);
   background-color: var(--white-color);
   min-height: 45px;

   position: relative;

   &[open] {

      &::after {
         transform: rotate(-180deg);
      }
   }

   &::after {
      position: absolute;
      content: '';
      top: 18px;
      right: 18px;
      width: 18px;
      height: 10px;
      background: url('../../assets/images/icons/arrow-catalog-spoller.svg') center/cover no-repeat;
      transition: transform .3s ease-in-out;
      pointer-events: none;
   }

   &__label {
      color: var(--text-content);
      font-weight: 500;
      line-height: 1.4;

      cursor: pointer;
      list-style: none;

      &::marker {
         display: none;
      }
   }

   &__body {
      padding-top: 30px;
      padding-bottom: 10px;
      @extend %grid;
      gap: 15px;
   }
}