@import '@common';


.checkbox {
   @extend %flex;
   align-items: center;

   &__content {
      @extend %flex;
      align-items: center;

      margin-left: 10px;

      span {
         display: inline-block;
         margin-left: 5px;

         color: var(--text-content);
         font-weight: 500;
         line-height: 1.6;
      }
   }
}

.checkbox__element {
   opacity: 0;
   /* Приховуємо оригінальний чекбокс */
   position: absolute;
   /* Потрібно для можливості клікати на кастомний чекбокс */
}

.checkbox__custom {
   width: 20px;
   height: 20px;
   background-color: #fff;
   border: 1px solid var(--border-color);
   border-radius: 4px;
   display: inline-block;
   cursor: pointer;
   position: relative;

   &::after {
      content: '';
      position: absolute;
      display: none;
   }
}

/* Стилізуємо галочку */
.checkbox__element:checked+.checkbox__custom::after {
   display: block;
   left: 3px;
   top: 2px;
   width: 15.5px;
   height: 12px;
   background: url('../../../assets/images/icons/checked.svg') center/cover no-repeat;
}