@import '@common';

.blog-content {
   padding-top: 40px;
   padding-bottom: 40px;
   
   filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.10));

   @media (max-width:$mobileSmall){
      padding-top: 30px;
      padding-bottom: 30px;
   }

   &__body {
      @extend %grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      & .article {
         transition: transform .3s ease-in-out;
         
         @media (any-hover: hover) {
            &:hover {
               transform: scale(1.02);
            }
         }
      }

      @media (max-width:$tablet){
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$mobile){
         column-gap: 15px;
      }

      @media (max-width:$mobileCustom){
         grid-template-columns: 1fr;
      }
   }
}


.pagination {
   margin: 40px auto 0px auto;
   @extend %flex-center;

   @media (max-width:$mobileSmall){
      margin-top: 30px;
   }

   button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #606276;
      opacity: 0.5;
      color: transparent;
      font-size: 0;
      margin: 0 5px;

      &.active {
         opacity: 1;
      }
   }
}