@import '@common';


.article {
   max-width: 387px;
   width: 100%;
   background-color: var(--white-color);
   border-radius: 5px;
   overflow: hidden;
   padding-bottom: 10px;

   @media (max-width:$tablet){
      padding-bottom: 0;
   }

   @media (any-hover: hover){
      &:hover .article__title {
         text-decoration: underline;
      }
   }

   @media (max-width:$tablet) {
      max-width: 100%;
   }

   &__image {
      img {
         max-width: 100%;
         @extend %img;

         @media (max-width:$tablet) {
            height: 230px;
         }
      }
   }

   &__info {
      padding: 20px 30px;

      @media (max-width:$tablet){
         padding: 20px 20px 30px 20px;
      }
   }

   &__date {
      @extend %secondary-text;
   }

   &__title {
      margin-top: 1px;
      color: var(--text-content);
      font-size: 20px;
      font-weight: 600;
      line-height: 1.25;
      max-width: 300px;

      @media (max-width:$mobileSmall){
         font-size: 18px;
         line-height: 1.4;
      }
   }
}