@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/common.scss';


//====================================================================================================
.header {
	position: fixed;
	z-index: 10;

	@extend %flex-center;
	width: 100%;
	height: 80px;

	background-color: var(--header);
	@extend %box-shadow;

	@media (max-width:$mobileSmall){
		height: 55px;
	}

	&__container {
		width: 100%;
	}
		
	&__body {
		@extend %flex-space-bw;
	}

	&__block {
		margin-left: 20px;
		@extend %flex-center;
		width: 100%;

		& .burger-menu {
			@include adaptiveValue("margin-left", 63, 23);
		}
	}

	&__button-box {
		@extend %flex;
		justify-content: flex-end;
		width: 100%;

		& .button-request {
			margin-left: 20px;

			@media (max-width:$mobileSmall){
				max-width: 130px;
				margin-left: 0; 
			}
		}

		@media (max-width:$mobileCustom){
			& .button-inventory {
				display: none;
			}
		}
	}
}
//====================================================================================================