@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/common.scss';

//====================================================================================================
.header {
	position: fixed;
	z-index: 10;

	@extend %flex-center;
	width: 100%;
	height: 80px;

	background-color: var(--header);
	@extend %box-shadow;

	@media (max-width:$mobileSmall){
		height: 55px;
	}

	&__container {
		width: 100%;
	}
		
	&__body {
		@extend %flex-space-bw;
	}

	&__block {
		margin-left: 20px;
		@extend %flex-center;
		width: 100%;

		& .burger__menu {
			@include adaptiveValue("margin-left", 63, 23);
		}
	}

	&__button-box {
		@extend %flex;
		justify-content: flex-end;
		width: 100%;

		& .button-request {
			margin-left: 20px;

			@media (max-width:$mobileSmall){
				max-width: 130px;
				margin-left: 0; 
			}
		}

		@media (max-width:$mobileCustom){
			& .button-inventory {
				display: none;
			}
		}
	}
}
//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/