// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):

	// =================================================================
	--header: #fff;
	--footer: #000;

	--text-black: #000;
	--text-white: #fff;
	--text-purple: #7380FF;
	--text-content: #41456B;
	--text-secondary: #606276;

	--accent-color: #7481FF;
	
}
