// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):

	// =================================================================
	--header: #fff;
	--footer: #000;

	--text-black: #000;
	--text-white: #fff;
	--text-purple: #7380FF;
	--text-content: #41456B;
	--text-secondary: #606276;

	--white-color: #fff;
	--main-color: #41456B;

	--accent-color: #7481FF;

	--bg-button-white: #fff;

	--button-default: #7481FF;
	--button-hover: #6270FF;

	--icon-default: #fff;
	--icon-accent: #7481FF;

	--menu-background: #fff;
	--menu-opacity: rgba(0, 0, 0, 0.10);
	
}
