@import '../../../assets/scss/common.scss';


.svg-arrow-slider {
   width: 53px;
   height: 53px;
   opacity: 0.8;
   transition: opacity .3s ease-in-out;

   &.white  {
      fill: var(--bg-button-white);
      stroke: var(--button-default);
   }

   &.purple {
      fill: var(--button-hover);
      stroke: var(--icon-default);
   }

   @media (any-hover: hover){
      &:hover{
         opacity: 1;
      }
   }

   @media (max-width:$mobileSmall){
      width: 35px;
      height: 35px;
   }
}


%slide-button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 4;
}


.slide-next-button {
   @extend %slide-button;
   right: 0;

   svg {
      rotate: -180deg;
   }
}

.slide-prev-button {
   @extend %slide-button;
   left: 0;
}