@use "sass:math";
@import '@common';


.calculator {
   @extend %flex;
   align-items: flex-start;
   justify-content: space-between;
   height: 478px;

   @media (max-width:$tablet){
      flex-direction: column;
      padding: 40px;
      height: auto;
      background-color: var(--white-color);
      border-radius: 5px;
      box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);
   }

   @media (max-width:$mobileSmall){
      padding: 20px;
   }

   &__controls {
      margin-top: 55px;
      width: 100%;

      @media (max-width:$tablet){
         margin-top: 36px;
      }

      @media (max-width:$mobileSmall){
         margin-top: 40px;
      }
   }

   &__control {
      @extend %grid-2column;
      grid-template-rows: 1fr 1fr;
      gap: 15px;
      align-items: center;

      &:not(:first-child) {
         margin-top: 43px;

         @media (max-width:$tablet){
            margin-top: 24px;
         }

         @media (max-width:$mobileSmall){
            margin-top: 14px; 
         }
      }

      input {
         grid-column: 2 span;
      }

      label {
         color: var(--text-content);
         font-size: 20px;
         font-weight: 600;
         line-height: 125%;
      }

      span {
         display: inline-block;
         justify-self: flex-end;
         @extend %h4-title;

         &.small {
            color: var(--text-secondary);
            font-size: 16px;
            font-weight: 700;
            line-height: 0.9;
            letter-spacing: 0.32px;
            text-transform: uppercase;
         }
      }
   }

   &__choice,
   &__result {
      padding: 60px;
      border-radius: 5px;
      background-color: var(--white-color);
      box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);
      @extend %wh100;

      @extend %flex-column;
      align-items: flex-start;

      @media (max-width:$tablet){
         padding: 0;
         background-color: transparent;
         box-shadow: none;
      }
   }

   &__choice {
      max-width: 800px;

      @media (max-width:$tablet){
         max-width: 100%;
      }
   }

   &__result {
      margin-left: 30px;
      max-width: 370px;

      @media (max-width:$tablet){
         margin: 32px 0px 0px 0px;
         max-width: 100%;
      }

      @media (max-width:$mobileSmall){
         margin-top: 40px;
      }
   }

   &__payment-wrap {

      @media (max-width:$tablet){
         display: flex;
         justify-content: space-between;
         width: 100%;
      }

      @media (max-width:$mobileCustom){
         flex-direction: column;
      }
   }

   &__payment-block {
      margin-top: 30px;

      @media (max-width:$tablet){
         margin: 0px 0px 0px 40px;
         display: flex;
      }

      @media (max-width:$mobile){
         margin-left: 20px; 
      }

      @media (max-width:$mobileCustom){
         margin: 16px 0px 0px 0px;
         width: 100%;
         display: flex;
         justify-content: space-between;
      }
   }

   &__payment {
      @extend %flex-column;

      &:last-child {
         margin-top: 20px;

         @media (max-width:$tablet){
            margin: 0px 0px 0px 40px;
         }

         @media (max-width:$mobile){
            margin-left: 20px;
         }

         @media (max-width:$mobileCustom){
            margin-left: 10px;
         }
      }

      label {
         @extend %secondary-text;
      }

      span {
         margin-top: 1px;
         @extend %h4-title;
         white-space: nowrap;

         &.purple {
            @extend %h2-title;
            color: var(--text-purple);
         }
      }
   }

   &__button {
      margin-top: 40px;
      max-width: 100%;

      @media (max-width:$tablet){
         max-width: 250px;
      }
      @media (max-width:$mobileSmall){
         max-width: 100%;
      }
   }
}



input[type=range] {
   -webkit-appearance: none;
   /* Скрывает слайдер, чтобы можно было создать свой */
   width: 100%;
   /* Указание параметра ширины требуется для Firefox. */

   &:focus {
      outline: none;
   }

   /* на движках WebKit/Blink */
   &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animate: 0.2s;
      background: var(--accent-color);
      border-radius: 2px;
      border: none;
   }

   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -5px;
      height: 18px;
      width: 18px;
      cursor: pointer;
      background: url('../../assets/images/icons/input-range.svg') center/cover no-repeat;
      border: none;
   }

   &:focus::-webkit-slider-runnable-track {
      background: var(--accent-color);
   }

   /* для Firefox */
   &::-moz-range-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animate: 0.2s;
      background: var(--accent-color);
      border-radius: 2px;
      border: none;
   }

   &::-moz-range-thumb {
      height: 18px;
      width: 18px;
      cursor: pointer;
      background: url('../../assets/images/icons/input-range.svg') center/cover no-repeat;
      border: none;
   }

   /* для IE */
   &::-ms-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
   }

   &::-ms-fill-lower {
      background: var(--accent-color);
      border: none;
      border-radius: 2px;
   }

   &::-ms-fill-upper {
      background: var(--accent-color);
      border: none;
      border-radius: 2px;
   }

   &::-ms-thumb {
      height: 18px;
      width: 18px;
      cursor: pointer;
      background: url('../../assets/images/icons/input-range.svg') center/cover no-repeat;
      border: none;
   }

   &:focus::-ms-fill-lower {
      background: var(--accent-color);
   }

   &:focus::-ms-fill-upper {
      background: var(--accent-color);
   }
}