@import '../../assets/scss/variables.scss';
@import '../../assets/scss/common.scss';


.logo {
   @extend %flex-center;

   &__image {
      width: 43px;
      height: 32px;
      position: relative;

      @media (max-width:$mobileSmall){
         width: 31px;
         height: 23px;
      }

      & .svg-logo {
         width: 100%;
         height: 100%;
         position: absolute;

         &:last-child {
            transform: rotate(-180deg) scaleX(-1);
         }
      }
   }

   span {
      display: inline-block;
      margin-left: 5px;

      @include adaptiveValue("font-size", 28, 20);
      line-height: 1.08;
      letter-spacing: 0.56px;


      @media (min-width:$mobileSmall) {
         &.mobile {
            display: none;
         }
      }

      @media (max-width:$mobileSmall) {
         &.pc {
            display: none;
         }
      }
   }
}


.header .logo {

   span {
      color: var(--text-purple);
   }

   & .svg-logo {
      fill: var(--accent-color);
   }
}

.footer .logo {

   span {
      color: var(--text-white);
   }

   & .svg-logo {
      fill: var(--white-color);
   }
}