@import '@common';


.card-car {
   max-width: 420px;
   width: 100%;
   max-height: 420px;

   border-radius: 5px;
   overflow: hidden;
   box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);

   &__images {
      width: 100%;

      & .swiper {
         width: 100%;

         img {
            max-width: 100%;
         }

         & .swiper-scrollbar {
            position: absolute;
            border-radius: 28px;
            background: rgb(255, 255, 255, 0.2);
            height: 5px;
            bottom: 5px;
            z-index: 50;
            left: var(--swiper-scrollbar-sides-offset, 5%);
            width: calc(100% - 2* var(--swiper-scrollbar-sides-offset, 5%));
         }

         & .swiper-scrollbar-drag {
            background: rgb(255, 255, 255, 0.7);
         }
     
      }
   }

   &__info {
      background-color: var(--white-color);
      padding: 20px;
      max-height: 204px;
      height: 100%;
      @extend %flex-column;
      justify-content: space-between;
   }

   &__wrap {
      @extend %wh100;
      @extend %flex-column;
      justify-content: flex-end;

      max-height: 114px;
   }

   &__title,
   &__price {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.25;
   }

   &__title {
      color: var(--text-content);

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Обмеження до двох рядків */
      -webkit-box-orient: vertical;
      min-height: 25px;
      max-height: 50px;
   }

   &__price {
      color: var(--accent-color);
      margin-top: 10px;
      display: inline-block;
   }

   &__items {
      margin-top: 20px;
      @extend %flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 1px;

      max-height: 59px;
      height: 100%;
   }

   &__item {
      @extend %secondary-text;
      color: var(--text-content);
      white-space: nowrap;
      position: relative;

      &:first-child {
         padding-right: 20px;
      }

      &:not(:first-child, :last-child) {
         padding: 0 20px;
      }

      &:not(:first-child, :last-child)::before {
         position: absolute;
         content: '|';
         top: 0;
         left: 0;
         color: var(--border-color);
      }
   }
}