@import '../../assets/scss/common.scss';

.svg-triangle {
   width: 75px;
   height: 67px;
   fill: var(--white-color);
   stroke-width: 1px;
   stroke: var(--main-color);

   @media (max-width:$mobileSmall){
      width: 53px;
      height: 47px;
   }
}

.easy-step {
   @extend %flex;
   align-items: center;

   &:not(:first-child) {
      margin-top: 40px;
   }

   &__triangle {
      @extend %flex-center;
      max-width: 75px;
      width: 100%;
      position: relative;

      @media (max-width:$mobileSmall){
         max-width: 53px;
      }

      span {
         display: inline-block;
         position: absolute;
         top: 45%;
         left: 50%;
         translate: -50%;

         color: var(--text-content);
         text-align: center;
         font-size: 25px;
         letter-spacing: 0.5px;
      }
   }
   
   &__info {
      margin-left: 20px;
   }

   &__title {
      color: var(--text-content);
      font-size: 20px;
      font-weight: 600;
      line-height: 1.25;

      @media (max-width:$mobileSmall){
         font-size: 18px;
      }
   }

   &__text {
      margin-top: 5px;
      color: var(--text-secondary);
      font-weight: 400;
      line-height: 1.8;
      letter-spacing: 0.32px;
   }

}