@import '@common';

.interest-articles {
   @extend %sections-between;
   padding-bottom: 40px;

   @media (max-width:$mobileSmall) {
      padding-bottom: 30px;
   }

   &__body {
      @media (max-width:$mobileCustom){
         a {
            margin-top: 30px;
            max-width: 100%;
         } 
      }
   }

   &__top {
      @extend %flex-space-bw;

      & a {
         margin-left: 20px;
      }
   }

   &__bottom {
      margin-top: 60px;

      & .swiper {
         filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.10));
      }

      & .swiper-slide {
         border-radius: 5px;
         background-color: var(--white-color);
         min-height: 360px;
         @extend %wh100;
      }

      @media (max-width:$mobileCustom){
         margin-top: 30px; 
      }
   }
}