@import '@common';


.spoller {
   padding: 20px 70px 20px 30px;
   border: 1px solid var(--border-color);
   // height: 72px;
   // transition: height .3s ease-in-out;
   position: relative;

   &[open] {
      // height: 177px;

      & .spoller__text {
         opacity: 1;
      }

      &::after {
         transform: rotate(-180deg);
      }
   }

   @media (max-width:$mobileSmall){
      padding: 20px 20px 18px 20px;
   }

   &::after {
      position: absolute;
      content: '';
      top: 24px;
      right: 30px;
      width: 24px;
      height: 24px;
      background: url('../../assets/images/icons/arrow.svg') center/cover no-repeat;
      transition: transform .3s ease-in-out;
      pointer-events: none;

      @media (max-width:$mobileSmall){
         top: 20px;
         right: 20px;
      }
   }

   &__title {
      color: var(--text-content);
      font-size: 20px;
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 5px;

      cursor: pointer;
      list-style: none;

      &::marker {
         display: none;
      }

      @media (max-width:$tablet){
         margin-bottom: 0;
      }

      @media (max-width:$mobileSmall){
         font-size: 18px;
         line-height: 1.4;
         margin-right: 40px;
      }
   }

   &__body {
      margin: 12px 0;
      max-width: 1075px;

      @media (max-width:$tablet){
         margin: 11px 0;
      }

      @media (max-width:$mobileSmall){
         margin: 8px 0px 4px 0px;
      }
   }

   &__text {
      @extend %secondary-text;
      opacity: 0;
      transition: opacity 1s ease-in-out;
   }
}