@import '@common';


.get-car {
   @extend %sections-between;

   &__container {
      @media (max-width:$tablet){
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__body {
      @extend %flex-space-bw;

      @media (max-width:$tablet){
         flex-direction: column;
         max-width: 600px;
      }
   }

   &__info,
   &__content {
      width: 100%;
   }

   &__info {
      max-width: 568px;

      @media (max-width:$tablet){
         max-width: 600px;
      }
   }

   &__content {
      max-width: 545px;
      margin-left: 40px;

      @media (max-width:$tablet){
         margin: 40px 0px 0px 0px;
         align-self: flex-start;
      }

      @media (max-width:$mobileSmall){
         margin-top: 20px;
      }
   }

   
}