@import '@common';

.slider-buttons {
   @extend %flex-center;
   max-width: 100%;
   @extend %wh100;
   box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);

   & .swiper-slide {
      border-radius: 5px;
      box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);
      @extend %flex-center;
      @extend %wh100;
   }
}


.client-say {
   
   &__slide {
      @extend %flex;
      justify-content: space-between;
      @extend %wh100;

      @media (max-width:$tablet){
         max-height: 320px;
      }

      @media (max-width:$mobileCustom){
         flex-direction: column;
         max-height: 100%;
      }

   }

   &__image {
      max-width: 460px;
      width: 100%;

      @media (max-width:$tablet){
         max-width: 302px;
      }

      @media (max-width:$mobileCustom){
         max-width: 100%;

         position: relative;
         padding-bottom: 67.188%;
      }

      img {
         @extend %img;
   
         @media (max-width:$mobileCustom) {
            position: absolute;
            top: 0;
            left: 0;
         }
      }
   }

   &__info {
      max-width: 740px;
      @extend %wh100;
      padding: 54px 60px 54px 40px;
      box-shadow: 0px 20px 25px 0px rgba(247, 240, 240, 0.1);
      justify-self: flex-end;

      @media (max-width:$pc){
         padding-top: 40px;
         padding-bottom: 40px;
      }

      @media (max-width:$mobileCustom){
         padding: 20px;
      }
   }

   &__name {
      @extend %secondary-text;
   }

   &__review {
      margin-top: 10px;
      color: var(--text-content);
      font-size: 20px;
      font-weight: 600;
      line-height: 1.25;
      @extend %wh100;

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 200px;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      /* Кількість рядків, які ви хочете відобразити */

      @media (max-width:$mobileCustom){
         max-height: 225px;
         -webkit-line-clamp: 9;
      }
   }
}