@import '@common';


.dynamic-team {
   @extend %sections-between;

   &__container {
      @media (max-width:$tablet){
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__body {
      @extend %flex;
      justify-content: space-between;

      @media (max-width:$tablet){
         flex-direction: column;
         max-width: 600px;
      }
   }

   &__info {
      max-width: 522px;
   }

   &__box {
      margin-top: 20px;

      @media (max-width:$mobileSmall){
         margin-top: 10px; 
      }

      span {
         color: var(--text-content);
         font-size: 20px;
         font-weight: 600;
         line-height: 1.25;

         @media (max-width:$tablet){
            font-size: 18px;
            line-height: 1.4;
         }
      }
   }

   &__text {
      margin-top: 14px;
      @extend %secondary-text;

      @media (max-width:$mobileSmall){
         margin-top: 6px; 
      }
   }

   &__image {
      border-radius: 5px;
      overflow: hidden;
      
      margin-top: 15px;
      margin-bottom: 9px;
      max-width: 600px;
      margin-left: 40px;

      @media (max-width:$tablet){
         margin: 40px 0px 0px 0px;
      }

      @media (max-width:$mobileSmall){
         margin-top: 20px;
      }

      img {
         @extend %img;

         @media (max-width:$tablet){
            max-height: 428px;
         }

         @media (max-width:$mobileSmall){
            max-height: 228px;
         }
      }
   }

   &__info,
   &__image {
      width: 100%;

      @media (max-width:$tablet){
         max-width: 100%;
      }
   }
}