@import '../../../assets/scss/common.scss';


.how-work {
   @extend %sections-between-bottom;

   &__container {
      position: relative;

      img {
         position: absolute;
         max-width: 500px;
         width: 100%;

         @media (max-width:$tablet){
            max-width: 400px;
         }

         @media (max-width:$mobileSmall){
            max-width: 268px;
         }

         &.left {
            bottom: -8px;
            left: -186px;

            @media (max-width:$tablet){
               left: -108px;
               bottom: 0;
            }

            @media (max-width:$mobileSmall){
               left: -90px;
            }
         }

         &.right {
            top: 25px;
            right: -136px;

            @media (max-width:$tablet){
               right: -154px;
               top: auto;
               bottom: 104px;
            }

            @media (max-width:$mobileSmall){
               right: -84px;
               bottom: 74px;
            }
         }
      }

   }

   &__body {
      padding-bottom: 70px;
      position: relative;
      z-index: 2;

      @extend %flex-center;

      @media (max-width:$tablet){
         padding-bottom: 210px;
      }

      @media (max-width:$mobileSmall){
         padding-bottom: 185px;
      }
   }

   &__block {
      margin-top: -40px;
      @extend %block-wrap;
      max-width: 605px;

      @media (max-width:$tablet){
         max-width: 565px;
      }
   }

   &__title {
      @extend %h2-title;
   }

   &__sub-title {
      @extend %h3-title;
      color: var(--text-purple);

      @media (max-width:$mobileSmall){
         max-width: 214px; 
      }
   }

   &__descr {
      @extend %description;
   }
}