@import '../../assets/scss/common.scss';

.svg-triangle-big {
   fill: var(--icon-default);
   // width: 480px;
   // height: 430px;
   filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.10));
}

.svg-triangle-icon {
   width: 70px;
   height: 70px;
   fill: var(--main-color);
}


.triangle-block-wrap {
   @extend %flex-center;
   position: absolute;
   top: 0;
   max-width: 480px;
   width: 100%;
   height: 430px;

   &:nth-child(1),
   &:nth-child(2) {
      z-index: 1;
   }

   &:nth-child(1) {
      left: 0;
   }

   &:nth-child(2) {
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      & .triangle-block {
         align-items: flex-start;

         p {
            max-width: 204px;
         }

         @media (max-width:$tablet) {
            align-items: flex-end;

            p {
               max-width: 320px;
            }
         }
      }

      & .triangle-block__main {
         transform: rotate(180deg);

         @media (max-width:$tablet) {
            transform: none;
         }
      }
   }

   &:nth-child(3) {
      right: 0;
   }


   @media (max-width:$pc) {

      &:nth-child(1),
      &:nth-child(3) {
         top: auto;
         bottom: 0;
      }
   }

   @media (max-width:$tablet) {
      position: relative;
      align-items: center;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
         left: auto;
         right: auto;
         transform: none;
      }

      &:not(:first-child) {
         margin-top: 47px;
      }
   }

   @media (max-width:$mobileSmall){
      &:not(:first-child) {
         margin-top: 20px;
      }
   }

   @media (max-width:$mobileSmall){
      height: 100%; 
   }
}


.triangle-block {
   @extend %flex;
   justify-content: center;
   align-items: flex-end;
   @extend %wh100;
   padding-top: 33px;
   padding-bottom: 64px;
   position: relative;

   @media (max-width:$mobileSmall){
      padding: 0;
      align-items: center; 
   }


   &__main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      @media (max-width:$mobileSmall){
         display: none; 
      }
   }

   &__info {
      @extend %flex-column;
      align-items: center;
      text-align: center;
   }

   &__title {
      margin-top: 5px;
      color: var(--text-content);
      font-size: 20px;
      font-weight: 600;
      line-height: 1.25;

      @media (max-width:$mobileSmall){
         font-size: 18px; 
      }
   }

   &__text {
      margin-top: 14px;
      color: var(--text-secondary);
      font-weight: 400;
      line-height: 1.8;
      letter-spacing: 0.32px;
      max-width: 320px;

      @media (max-width:$mobileSmall){
         margin-top: 8px;
      }
   }
}