.horizontal-slider {
   width: 100%;
   height: 8px;
   cursor: pointer;
   background: var(--accent-color);
   border-radius: 2px;
   border: none;

   margin-bottom: 50px;
}

.example-thumb {
   margin-top: -5px;
   height: 18px;
   width: 18px;
   cursor: pointer;
   background: url('../../assets/images/icons/input-range.svg') center/cover no-repeat;
   border: none;
   font-size: 0;
}

.example-track {
   height: 8px;

   &.example-track-1 {
      background: var(--border-color);
   }
}